
.section1{
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7rem;
    border-bottom: 0.5px solid black;
}
.section1 h1{
    font-size:3.1rem ;
    font-weight: 300;
    color: rgb(145, 145, 145);
 
}
.section1 p{
    
    width: 30rem;
    font-size: 1.5rem;
    margin-bottom: 6.5rem;
    font-weight: 300;
}


.section2{
    margin: auto ;  
    padding: 0.8rem 2rem;
    margin-bottom: 6.5rem;
}

.imageWrapper{
    margin: auto ;
     width: 100%;
    
}
.imageWrapper img {
    width: 100%;
    height: 700px;
    display: block;
    object-fit: cover;
    border-radius: 2px;
  }

  .imageWrapper h1 {
    padding: 0 1rem;
 
    margin-top: -7rem;
    font-size: 2rem;
    font-weight: 500;
    
    color: #ffffff;
  }

  .imageWrapper h3 {

    margin-top: 0.5rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: #ffffff;
    font-weight: 500;
  }



  .btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;

  }

  .changeColor{
       color : rgb(188, 188, 188); 
  }


  .section3{
    padding: 0.8rem 2rem;
    margin-bottom: 6.5rem;
}



@media (max-width: 769px) {
  .section1 {
    flex-direction: column;
    padding: 1rem; /* Ajuster l'espacement sur mobile */
    gap: 1rem; /* Espacement entre les éléments */
  }
  
  .section1 h1 {
    font-size: 3rem; /* Réduire la taille du titre sur mobile */
 
  }
  
  .section1 p {
    font-size: 0.9rem; /* Ajuster la taille du texte */
    line-height: 1.6; /* Meilleure lisibilité */
  }
}
 